@using Microsoft.AspNetCore.Mvc.Rendering
@model MYSENDER.ViewModels.AppointmentViewModel

@{
    ViewData["Title"] = "Calendrier des RDV";
}
@section css_head {
    <link rel="stylesheet" href="~/css/materialdatetimepicker/bootstrap-material-datetimepicker.css" />
    <link rel="stylesheet" href="~/css/materialdatetimepicker/bootstrap-material-datetimepicker-override.css" />
    <link rel="stylesheet" href="~/css/calendar.min.css" />>
    <link rel="stylesheet" href="~/css/fullcalendar/fullcalendar.css" />
    <link rel="stylesheet" href="~/css/fullcalendar/fullcalendar.print.css" />
    <link rel="stylesheet" href="~/lib/Material-Design-Styled-Text-Field/css/jquery.material.form.min.css" />
    <link rel="stylesheet" href="~/lib/Material-Design-Styled-Text-Field/css/jquery-override.material.form.css" />
}

@section scripts_body_bottom
    {
    <script src="~/js/fullcalendar/moment.min.js"></script>
    <script src="~/js/fullcalendar/fullcalendar.min.js"></script>
    <script src="~/js/fullcalendar/locale/fr.js"></script>
    <script src="~/js/calendar.js"></script>
    <script src="~/js/momentjs/moment-with-locales.min.js"></script>
    <script src="~/js/materialdatetimepicker/bootstrap-material-datetimepicker.js"></script>
    <script src="~/js/Appointment.js"></script>
    <script src="~/lib/Material-Design-Styled-Text-Field/js/jquery.material.form.min.js"></script>
}

<script type="text/javascript">
    var events = [];
</script>

<div class="row">
    <div class="wrap-logo-title">
        <a href="http://localhost/">
            <img alt="List View" src="/images/mySender-icon.png">
            <h1 class="h1" aria-level="1">Bienvenue sur MySender</h1>
        </a>
    </div>
</div>
<div class="row" id="divContainer">
    <div class="col-lg-3">
        @Html.Partial("_LeftMenu")
    </div>
    <div class="col-lg-9">
        <div class="row">
            <h2> Planning des RDV</h2>
            <hr class="hrstyle" />
            <div id="mysender-calendar" class="shadow-lvl-1">
                <div id='calendar'></div>
            </div>
        </div>
        <div class="row">
            <div class="calendar-buttons-div">
                <a href="@Url.Action("AddEvent", "Calendar")" type="button" class="btn-border btn-big" data-toggle="modal" data-target="#modal-calendar-container">
                    <span class="btn-big-plus">+</span>Ajouter
                </a>
            </div>
        </div>
    </div>
</div>
<div id="modal-calendar-container" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content"></div>
    </div>
</div>

<script type="text/javascript">
    @foreach (var appointment in Model.Appointments)
    {
        <text>
            events.push({
                sessionId: "@appointment.AptId",
                title: "@appointment.AppointmentTitle",
                start: "@(appointment.AppointmentStart.ToString("yyyy-MM-dd"))",
                end: "@(appointment.AppointmentEnd.AddDays(1).ToString("yyyy-MM-dd"))"
            });
        </text>
    }
</script>
