@using Microsoft.AspNetCore.Mvc.Rendering
@using MYSENDER.ViewModels.Modals

@model ModalViewModel

@section scripts_body_bottom
    {
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation/src/localization/messages_fr.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

}

@using (Html.BeginForm(Model.Action, Model.Controller, FormMethod.Post, new { id = Model.FormId, @class = "material" }))
{
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">@Model.Title</h4>
    </div>
    <div class="modal-body">
        @if (Model.Required)
        {
            <span class="modal-obligatory">* : Champs obligatoires</span>
        }

        <div class="modal-form">
            @Html.Partial(Model.Name, Model)
        </div>
    </div>
    <div class="modal-footer">
        <div class="modal-cancel">
            <a href="#" data-dismiss="modal" aria-label="Close" aria-hidden="true" id="btn-cancel" class="btn-filled">Annuler</a>
        </div>
        <div class="modal-actions">
            @foreach (var button in Model.Buttons)
            {
                <button type="submit" class="btn-filled" id="@button.Id" title="@button.Text" value="@button.Value" name="@button.Name">@button.Text</button>
            }
        </div>
    </div>
}
