@using FormFactory.Attributes
@using Microsoft.AspNetCore.Mvc.Rendering
@using MYSENDER.ViewModels
@model MYSENDER.ViewModels.Modals.ModalViewModel

@{ var viewModel = Model.GetModel<AppointmentViewModel>(); }
@{ var model = viewModel.Appointment; }
@{ var modelContacts = viewModel.Contacts; }


<div class="modal-group">
    <div class="modal-input modal-required">
        @(string.IsNullOrEmpty(model.AppointmentTitle)
                                                  ? Html.TextBoxFor(m => model.AppointmentTitle, new { maxlength = 30, placeholder = "Intitul&#233; du RDV", required = "required" })
                                                  : Html.TextBoxFor(m => model.AppointmentTitle))
        @Html.ValidationMessageFor(m => model.AppointmentTitle, null, new { @class = "field-validation-error" })
    </div>
</div>
<div class="modal-group">
    <div class="modal-input modal-required">
        @Html.DropDownListFor(m => model.Contact.Nom, modelContacts.Select(s => new SelectListItem { Text = s.Prenom + " " + s.Nom, Value = s.Id.ToString() }), new { placeholder = "Selectionner un patient", required = "required" })
    </div>
</div>
<div class="modal-group">
    <div class="modal-input modal-required">
        @Html.TextBoxFor(m => model.AppointmentStart, model.AppointmentStart.ToString("dd/MM/yyyy HH:mm"), new { @class = "input-time-start", placeholder = "Date de debut", required = "required" })
    </div>
</div>
<div class="modal-group">
    <div class="modal-input modal-required">
        @Html.TextBoxFor(m => model.AppointmentEnd, model.AppointmentEnd.ToString("dd/MM/yyyy HH:mm"), new { @class = "input-time-end", placeholder = "heure de Fin", required = "required" })
    </div>
</div>