@model MYSENDER.ViewModels.ContactsViewModel

@{
    ViewData["Title"] = "Ajouter un contact";
}

<h2>Details</h2>

<div>
    <h4>Contact</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Contact.Nom)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Contact.Nom)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Contact.Prenom)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Contact.Prenom)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Contact.Tel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Contact.Tel)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Contact.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
